# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------
# Virtual Environment
# -------------------------
venv/
.env/
.env.*

# -------------------------
# Environment & Secrets
# -------------------------
*.env
.env.local

# -------------------------
# IDEs & Editors
# -------------------------
.vscode/
.idea/
*.swp
*.swo

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Streamlit
# -------------------------
.streamlit/

# -------------------------
# Pytest / Coverage
# -------------------------
.coverage
htmlcov/
.pytest_cache/
